<section class="border text-slate-700 bg-white absolute top-16  left-0 right-0 z-20 w-full shadow-lg flex">
    <!-- side bar -->
    <section class="w-60 bg-sky-100 flex flex-col gap-4 p-10">
        <h1 class="text-lg">Explore By</h1>
        <h1 class="text-lg"> Exams</h1>
        <h1 class="text-lg"> Countries</h1>
        <h1 class="text-lg"> Expenses</h1>
        <h1 class="text-lg"> Universities</h1>
        <img class="w-32 mt-5" src="https://strapi.ischoolconnect.com/uploads/universities_cta_5967a3d068.svg" alt="">
    </section>

    <section class="text-sm w-full grid grid-cols-3 justify-center items-center place-items-center">

        <ul class="flex flex-col gap-1">
            <li><a class="text-lg pb-10" href="#">IELTS</a></li>
            <li><a href="#">IELTS Overview</a></li>
            <li><a href="#">IELTS Eligibility</a></li>
            <li><a href="#">IELTS Syllabus</a></li>
            <li><a href="#">IELTS Exam Pattern</a></li>
            <li><a href="#">IELTS Preparation Ideas</a></li>
            <li><a href="#">IELTS Practice Tests</a></li>
        </ul>

        <ul class="flex flex-col gap-1">
            <li><a class="text-lg pb-10" href="#">TOEFL</a></li>
            <li><a href="#">TOEFL Overview</a></li>
            <li><a href="#">TOEFL Eligibility</a></li>
            <li><a href="#">TOEFL Syllabus</a></li>
            <li><a href="#">TOEFL Exam Pattern</a></li>
            <li><a href="#">TOEFL Preparation Ideas</a></li>
            <li><a href="#">TOEFL Practice Tests</a></li>
        </ul>

        <ul class="flex flex-col gap-1">
            <li><a class="text-lg pb-10" href="#">PTE</a></li>
            <li><a href="#">PTE Overview</a></li>
            <li><a href="#">PTE Eligibility</a></li>
            <li><a href="#">PTE Syllabus</a></li>
            <li><a href="#">PTE Exam Pattern</a></li>
            <li><a href="#">PTE Preparation Ideas</a></li>
            <li><a href="#">PTE Practice Tests</a></li>
        </ul>

        <ul class="flex flex-col gap-1">
            <li><a class="text-lg pb-10" href="#">GRE</a></li>
            <li><a href="#">GRE Overview</a></li>
            <li><a href="#">GRE Eligibility</a></li>
            <li><a href="#">GRE Syllabus</a></li>
            <li><a href="#">GRE Exam Pattern</a></li>
            <li><a href="#">GRE Preparation Ideas</a></li>
            <li><a href="#">GRE Practice Tests</a></li>
        </ul>

        <ul class="flex flex-col gap-1">
            <li><a class="text-lg pb-10" href="#">GMAT</a></li>
            <li><a href="#">GMAT Overview</a></li>
            <li><a href="#">GMAT Eligibility</a></li>
            <li><a href="#">GMAT Syllabus</a></li>
            <li><a href="#">GMAT Exam Pattern</a></li>
            <li><a href="#">GMAT Preparation Ideas</a></li>
            <li><a href="#">GMAT Practice Tests</a></li>
        </ul>

        <ul class="flex flex-col gap-1">
            <li><a class="text-lg pb-10" href="#">SAT</a></li>
            <li><a href="#">SAT Overview</a></li>
            <li><a href="#">SAT Eligibility</a></li>
            <li><a href="#">SAT Syllabus</a></li>
            <li><a href="#">SAT Exam Pattern</a></li>
            <li><a href="#">SAT Preparation Ideas</a></li>
            <li><a href="#">SAT Practice Tests</a></li>
        </ul>
        
        

    </section>

</section>