<footer>
    <div class="flex p-8 gap-16 footer-bg text-slate-300 text-sm">

        <section class="flex flex-col gap-5 items-start">
            <img class="h-6" src="https://cdn.ischoolconnect.com/iSchoolConnect/b2c/images/iSchoolConnect-logo.svg"
                alt="ISC Logo">

            <div class="flex gap-2">
                <div>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="">map</mat-icon>
                </div>
                <div class="flex flex-col gap-2">
                    <h4>Address
                    </h4>
                    <p>USA : 33 Boston Post Road, Suite 600, Marlborough MA 01752, USA</p>
                    <p>India : 504, Quantum Towers, Rambaug Lane, Behind SBI Bank, Off SV Road, Malad West, Mumbai,
                        Maharashtra- 400064</p>
                    <p>Studio 4, Plot 3, Block A, Sector 4, Noida, Uttar Pradesh 201301</p>
                </div>
            </div>

            <div class="flex gap-2 items-center">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="">phone</mat-icon>

                <div class="flex flex-col">
                    <p>Phone</p>
                    <p>+91 9833333983 </p>
                </div>
            </div>

            <div class="flex gap-2 items-center">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="">email</mat-icon>
                <div>
                    <p>email</p>
                    <p>info&#64;ischoolconnect.com </p>
                </div>

            </div>
        </section>


        <section class="flex gap-4 w-full">
            <ul class="flex flex-col gap-4">
                <h2 class="text-xl font-bold mb-4">USEFUL LINKS</h2>
                <li> <a href="#">How it Works</a></li>
                <li> <a href="#">About Us</a></li>
                <li> <a href="#">For Institutions</a></li>
                <li> <a href="#">Scholarship</a></li>
                <li> <a href="#">Community</a></li>
                <li> <a href="#">Ask an expert</a></li>
                <li> <a href="#">iSchoolPrep</a></li>
                <li> <a href="#">Blog</a></li>
                <li> <a href="#">Careers</a></li>
                <li> <a href="#">Contact Us</a></li>
            </ul>

            <ul class="flex flex-col gap-4">
                <h2 class="text-xl font-bold mb-4">TOP UNIVERSITIES</h2>
                <li> <a href="#">Harvard University</a></li>
                <li> <a href="#">Oxford University</a></li>
                <li> <a href="#">Stanford University</a></li>
                <li> <a href="#">University of Toronto</a></li>
                <li> <a href="#">University of Cambridge</a></li>
                <li> <a href="#">Conestoga College</a></li>
                <li> <a href="#">Centennial College</a></li>
                <li> <a href="#">Columbia University</a></li>
                <li> <a href="#">Seneca College</a></li>
                <li> <a href="#">University of British Columbia</a></li>
                <li> <a href="#">View All Universities </a></li>
            </ul>

            <div>
                <ul class="flex flex-col gap-4">
                    <h2 class="text-xl font-bold mb-4">OUR PRODUCTS</h2>
                    <li> <a href="">Interview Analyzer</a></li>
                    <li> <a href="">AI College Finder</a></li>
                    <li> <a href="">SOP Mentor</a></li>
                </ul>

                <ul class="flex flex-col gap-4">
                    <h2 class="text-xl font-bold mb-4 mt-6">OUR SERVICES</h2>
                    <li> <a href="">Accommodation</a></li>
                    <li> <a href="">Travel</a></li>
                    <li> <a href="">Forex</a></li>
                    <li> <a href="">Education Loan</a></li>
                    <li> <a href="">Communication</a></li>
                    <li> <a href="">Insurance</a></li>
                </ul>
            </div>
        </section>


        <section class="flex flex-col gap-4">
            <h2>SUBSCRIBE</h2>

            <p>Subscribe to iSchoolConnect and stay up to date with latest blog articles about higher education.</p>

            <form class="flex flex-col gap-4">
                <label class="flex flex-col gap-1">
                    <span>
                        Enter your name<span class="text-red-800">*</span>
                    </span>
                    <input class="bg-indigo-950/50 p-2 border rounded-lg" type="text" placeholder="Name">
                </label>

                <label class="flex flex-col gap-1">
                    <span>
                        Enter your email<span class="text-red-800">*</span>
                    </span>
                    <input class="bg-indigo-950/50 p-2 border rounded-lg" type="email" placeholder="Email">
                </label>
                <button class="bg-blue-500 p-2 hover:bg-blue-600 text-white text-lg rounded-lg" type="submit">Subscribe</button>
            </form>
        </section>
    </div>

    <div class="flex p-8 py-10 footer-bottom text-slate-300 gap-3  ">
        <p>2024 © iSchoolConnect. All rights reserved.</p>
        <a class="text-blue-500 hover:underline" href="#">Privacy Policy</a> |
        <a class="text-blue-500 hover:underline" href="#">Terms of Use</a>
    </div>

</footer>