<h1 class="text-2xl text-sky-500">Fees</h1>

<div class="flex gap-2 pt-2">
    <b>Note: </b>
    <p>Note: All the costs mentioned below are average costs annually.</p>
</div>

<div class="w-full flex justify-between gap-5 pt-4">
    <ul class="flex flex-col gap-2 w-1/2">
        <h1 class="bg-blue-950 text-white p-4">Undergraduate</h1>
        <li class="flex border-b p-2 items-center justify-between gap-4">
            <p>Tuition Fee</p>
            <p>CHF5,931 CHF</p>
        </li>
        <li class="flex border-b p-2 items-center justify-between gap-4">
            <p>Cost Of Attendance</p>
            <p>CHF14,271 CHF</p>
        </li>
        <li class="flex border-b p-2 items-center justify-between gap-4">
            <p>Scholarship</p>
            <p>CHF5,400 CHF</p>
        </li>
        <li class="flex border-b p-2 items-center justify-between gap-4">
            <p>Accommodation</p>
            <p>CHF4,380 CHF</p>
        </li>
    </ul>

    <ul class="flex flex-col gap-2 w-1/2">
        <h1 class="bg-blue-950 text-white p-4">Graduate</h1>
        <li class="flex border-b p-2 items-center justify-between gap-4">
            <p>Tuition Fee</p>
            <p>CHF5,931 CHF</p>
        </li>
        <li class="flex border-b p-2 items-center justify-between gap-4">
            <p>Cost Of Attendance</p>
            <p>CHF14,271 CHF</p>
        </li>
        <li class="flex border-b p-2 items-center justify-between gap-4">
            <p>Scholarship</p>
            <p>CHF5,400 CHF</p>
        </li>
        <li class="flex border-b p-2 items-center justify-between gap-4">
            <p>Accommodation</p>
            <p>CHF4,380 CHF</p>
        </li>
    </ul>
</div>