<div class="flex gap-4">
    <img src="https://cdn.ischoolconnect.com/iSchoolConnect/b2c/images/poll%201.svg" alt="">
    <div class="flex flex-col">
        <b class="text-sky-400">QUICK POLL</b>
        <p class="text-sm">What is your preferred destination to study in?</p>
    </div>
</div>

<div class="flex flex-col gap-3 mt-3">
    <button class="text-sky-500 border rounded-sm border-sky-400 p-2">India</button>
    <button class="text-sky-500 border rounded-sm border-sky-400 p-2">USA</button>
    <button class="text-sky-500 border rounded-sm border-sky-400 p-2">Germany</button>
    <button class="text-sky-500 border rounded-sm border-sky-400 p-2">Canada</button>
    <button class="text-sky-500 border rounded-sm border-sky-400 p-2">Japan</button>
</div>