<div class="flex  justify-between w-full">
    <h1>Trending Courses (2023-2024)</h1>
    <button class="p-2 bg-sky-200 text-sky-600">Explore All Courses</button>
</div>

<div class="w-full mt-6">
    <div class="flex border p-4 justify-between">
        <div>
            <b>Accounting and Management</b>
            <p>{{data.name}}</p>
        </div>
        <button><mat-icon aria-hidden="false" aria-label="Fav" fontIcon="favorite_border"></mat-icon></button>
    </div>

    <div class="flex w-full justify-between items-center border p-4 border-t-0">
        <div class="flex gap-10">
            <div>
                <b>Doctorate</b>
                <p>Degree</p>
            </div>
            <div>
                <b>5 years</b>
                <p>Tenure</p>
            </div>
            <div>
                <b>$54,269 USD</b>
                <p>Tuition Fee</p>
            </div>
        </div>

        <button class="bg-sky-400 text-white p-2 rounded-lg px-5">Apply</button>
    </div>
</div>

<div class="w-full mt-6">
    <div class="flex border p-4 justify-between">
        <div>
            <b>African and African American Studies</b>
            <p>{{data.name}}</p>
        </div>
        <button><mat-icon aria-hidden="false" aria-label="Fav" fontIcon="favorite_border"></mat-icon></button>
    </div>

    <div class="flex w-full justify-between items-center border p-4 border-t-0">
        <div class="flex gap-10">
            <div>
                <b>Doctorate</b>
                <p>Degree</p>
            </div>
            <div>
                <b>5 years</b>
                <p>Tenure</p>
            </div>
            <div>
                <b>$54,269 USD</b>
                <p>Tuition Fee</p>
            </div>
        </div>

        <button class="bg-sky-400 text-white p-2 rounded-lg px-5">Apply</button>
    </div>
</div>

<div class="w-full mt-6">
    <div class="flex border p-4 justify-between">
        <div>
            <b>African and African American Studies</b>
            <p>{{data.name}}</p>
        </div>
        <button><mat-icon aria-hidden="false" aria-label="Fav" fontIcon="favorite_border"></mat-icon></button>
    </div>

    <div class="flex w-full justify-between items-center border p-4 border-t-0">
        <div class="flex gap-10">
            <div>
                <b>Doctorate</b>
                <p>Degree</p>
            </div>
            <div>
                <b>5 years</b>
                <p>Tenure</p>
            </div>
            <div>
                <b>$54,269 USD</b>
                <p>Tuition Fee</p>
            </div>
        </div>

        <button class="bg-sky-400 text-white p-2 rounded-lg px-5">Apply</button>
    </div>
</div>

<div class="w-full mt-6">
    <div class="flex border p-4 justify-between">
        <div>
            <b>African and African American Studies - African</b>
            <p>{{data.name}}</p>
        </div>
        <button><mat-icon aria-hidden="false" aria-label="Fav" fontIcon="favorite_border"></mat-icon></button>
    </div>

    <div class="flex w-full justify-between items-center border p-4 border-t-0">
        <div class="flex gap-10">
            <div>
                <b>Doctorate</b>
                <p>Degree</p>
            </div>
            <div>
                <b>5 years</b>
                <p>Tenure</p>
            </div>
            <div>
                <b>$54,269 USD</b>
                <p>Tuition Fee</p>
            </div>
        </div>

        <button class="bg-sky-400 text-white p-2 rounded-lg px-5">Apply</button>
    </div>
</div>